<template>
  <div  >

    <ul>
      <li v-for="name in names" @click="name.show=!name.show">
        <h2 v-text="name.name"></h2>
        <h3 v-text="name.points" v-show="name.show"></h3>
      </li>
    </ul>
  </div>
</template>


<script>
  export default {
props:['names'],
    data() {

      return {


      }
    },
  }
</script>

<style scoped>

</style>
