<template>
  <footer>
    <p v-text="Copyright +title"></p>
  </footer>
</template>
<script>
  import {buse} from '../main'

  export default {
    props:{
      title:{

        type:String
      }

    },



    data(){
      return{

        Copyright:"Copyright ",
        title:"2018"
      }
    },
    created(){
      buse.$on('chang',(data)=>{
        this.title=data;
      })
    }
  }
</script>

<style scoped>

  footer{
    background-color: #000000;
padding: 6px;
  }
  p{
    text-align: center;

    color: #20B2AA;
  }
</style>
