<template>
  <header><h1 @click="chang()">{{title}}</h1></header>
</template>

<script>

  import {buse} from '../main'
  export default {
props:{
  title:{

    type:String
  }

},
    data() {
      return {
        title:"App"
      }
    },
    methods: {
      chang:function () {

//        this.$emit('chang','app');

     buse.$emit('chang','app');
      }
    }

  }
</script>


<style scoped>

  header {
    background: lightseagreen;
    padding: 10px;
  }
  h1{

    color: crimson;
    text-align: center;
  }
</style>
