<template>
<div>

  <app-header v-bind:title="title"  v-on:chang="changtitle($event)"></app-header>
  <app-body :names="names" ></app-body>
  <app-footer  v-bind:title="title"></app-footer>


</div>

</template>

<script>
  import Header from './components/Header.vue'
  import Footer from './components/Footer.vue'
  import Body from './components/Body.vue'
export default {




    components:{
      'app-header':Header,
      'app-footer':Footer,
      'app-body':Body,

    },
  data () {
    return {
        names: [
          {name: 'raheem', points: 1005, show: false},
          {name: 'enom', points: 20145, show: false},

        ],
      title:"KaKA"
    }
  },
  methods:
    {
      changtitle:function (updata) {

        this.title=updata;
      }
    }
}
</script>

<style scoped>

</style>
